In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
import xgboost

In [14]:
df = pd.read_csv("Wholesale customers data.csv")

In [15]:
df

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [16]:
df.nunique()

Channel               2
Region                3
Fresh               433
Milk                421
Grocery             430
Frozen              426
Detergents_Paper    417
Delicassen          403
dtype: int64

In [17]:
df.isnull().sum()

Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

In [18]:
df

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [19]:
df.replace([1,2],["one","two"])

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,two,3,12669,9656,7561,214,2674,1338
1,two,3,7057,9810,9568,1762,3293,1776
2,two,3,6353,8808,7684,2405,3516,7844
3,one,3,13265,1196,4221,6404,507,1788
4,two,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,one,3,29703,12051,16027,13135,182,2204
436,one,3,39228,1431,764,4510,93,2346
437,two,3,14531,15488,30243,437,14841,1867
438,one,3,10290,1981,2232,1038,168,2125
439,one,3,2787,1698,2510,65,477,52

In [20]:
X = df.drop(["Channel"], axis = 1)
y = df['Channel']

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [22]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [23]:
model = XGBClassifier()

In [24]:
kf = KFold(10)

In [25]:
abc = cross_val_score(model,X,y,cv = kf)

In [26]:
abc

array([0.81818182, 0.93181818, 0.93181818, 0.95454545, 0.88636364,
       0.88636364, 0.97727273, 0.93181818, 0.93181818, 0.86363636])

In [27]:
print(np.mean(abc))

0.9113636363636364